.topbar {
  margin-top: 10vh;
}

.logo-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40vw;
}

.menu-button{
  display: flex;
  flex-direction: row;
  width:89.3px;
}

.world-list{
  margin-top: 10vh;
  margin-left: 10vw;
  margin-bottom: 10vw;
}
.add-world{
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.world{
  margin-left: 10vw;
  margin-top: 10vh;
  padding: 2vw;
}
.world-title{
  font-size: 2.5vw;
  padding: 2vw;
}
.world-details{
  font-size: 1.5vw;
  padding: 2vw;
}
.world-events{
  font-size: 1.5vw;
  padding: 2vw;
}
.world-characters{
  font-size: 1.5vw;
  padding: 2vw;
}
.world-elements-inside{
  display: flex;
  margin-top: 1vw;
}
.card-character{
  margin-right: 20px;
}




